.cards-container {
  max-width: 1031px;
  margin: 0 auto;
}

.card-header {
  overflow: hidden;
  word-break: break-all;
  font-size: 1.2rem;
}

.card-body {
  word-break: break-all;
  overflow: hidden;
  max-height: 195px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px !important;
}

.survey-card {
  padding: 10px;
}

.yesno {
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 3px;
}

@media screen and (max-width: 665px) {
}

@media screen and (min-width: 666px) and (max-width: 904px) {
}

@media screen and (min-width: 905px) and (max-width: 1383px) {
}
