nav {
  margin-bottom: 20px;
}

.nav-wrapper {
  padding-left: 5px;
}

.survey-btn-area {
  margin-top: 25px;
}

.cards-container {
  max-width: 1031px;
  margin: 0 auto;
}

.card-header {
  overflow: hidden;
  word-break: break-all;
  font-size: 1.2rem;
  padding-top: 5px !important;
}

.card-body {
  word-break: break-all;
  overflow-y: auto;
  max-height: 195px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px !important;
  width: 100%;
}

.card-footer button {
  cursor: pointer;
  background-color: unset;
  border: unset;
}

.survey-card {
  display: inline-block;
  width: 31%;
  max-width: 320px;
  min-width: 230px;
  height: 300px;
  margin: 1% !important;
}

.yesno {
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 3px;
}

@media screen and (max-width: 600px) {
  .cards-container {
    max-width: 98%;
    margin: 0 auto;
  }

  .survey-card {
    padding: 2px;
    width: 100%;
    height: auto;
    max-width: unset;
    max-height: unset;
    margin: 5px 0 5px 0px !important;
    display: block;
  }

  .card-body {
    word-break: unset;
    overflow: hidden;
    max-height: unset;
  }

  .card-footer {
    position: unset;
  }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
  .cards-container {
    max-width: 690px;
  }

  .survey-card {
    width: 48%;
    max-width: 330px;
  }
}

/*
@media screen and (min-width: 905px) and (max-width: 1383px) {
}*/
